.info-sec {
  position: relative;
  z-index: 10;
  overflow: hidden;
  border-top-width: 1px;
  --sbs-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--sbs-border-opacity, 1));
  --sbs-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--sbs-bg-opacity, 1));
  padding-top: 160px;
  padding-bottom: 160px
}

@media (min-width: 1024px) {
  .info-sec {
    padding-top: 200px;
    padding-bottom: 200px
  }
}

.info-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.info-box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px
}

@media (min-width: 1024px) {
  .info-box2 {
    flex-direction: row;
    gap: 80px
  }
}

.info-box3 {
  text-align: center
}

@media (min-width: 1024px) {
  .info-box3 {
    position: sticky;
    top: 120px;
    width: 33.333333%;
    text-align: left
  }
}

.info-tag {
  margin-bottom: 1rem;
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  --sbs-text-opacity: 1;
  color: rgb(13 130 255 / var(--sbs-text-opacity, 1))
}

.info-tit {
  margin-bottom: 2rem;
  word-break: keep-all;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -0.03em;
  --sbs-text-opacity: 1;
  color: rgb(17 24 39 / var(--sbs-text-opacity, 1))
}

@media (min-width: 768px) {
  .info-tit {
    font-size: 52px
  }
}

.info-tag2 {
  --sbs-text-opacity: 1;
  color: rgb(13 130 255 / var(--sbs-text-opacity, 1))
}

.info-box4 {
  pointer-events: none;
  position: absolute;
  top: 80%;
  left: -30%;
  z-index: 0;
  display: none;
  height: 20rem;
  width: 20rem;
  border-radius: 9999px;
  --sbs-bg-opacity: 1;
  background-color: rgb(224 242 254 / var(--sbs-bg-opacity, 1));
  opacity: 0.7;
  --sbs-blur: blur(100px);
  filter: var(--sbs-blur) var(--sbs-brightness) var(--sbs-contrast) var(--sbs-grayscale) var(--sbs-hue-rotate) var(--sbs-invert) var(--sbs-saturate) var(--sbs-sepia) var(--sbs-drop-shadow)
}

@media (min-width: 1024px) {
  .info-box4 {
    display: block
  }
}

.info-box5 {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.5rem
}

@media (min-width: 1024px) {
  .info-box5 {
    width: 66.666667%
  }
}

.info-box6 {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 32px;
  border-width: 1px;
  --sbs-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--sbs-border-opacity, 1));
  --sbs-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--sbs-bg-opacity, 1));
  padding: 2rem;
  --sbs-shadow: 0 4px 20px rgba(0,0,0,0.02);
  --sbs-shadow-colored: 0 4px 20px var(--sbs-shadow-color);
  box-shadow: var(--sbs-ring-offset-shadow, 0 0 #0000), var(--sbs-ring-shadow, 0 0 #0000), var(--sbs-shadow);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms
}

.info-box6:hover {
  --sbs-translate-y: -0.25rem;
  transform: translate(var(--sbs-translate-x), var(--sbs-translate-y)) rotate(var(--sbs-rotate)) skewX(var(--sbs-skew-x)) skewY(var(--sbs-skew-y)) scaleX(var(--sbs-scale-x)) scaleY(var(--sbs-scale-y));
  --sbs-shadow: 0 20px 50px rgba(13,130,255,0.06);
  --sbs-shadow-colored: 0 20px 50px var(--sbs-shadow-color);
  box-shadow: var(--sbs-ring-offset-shadow, 0 0 #0000), var(--sbs-ring-shadow, 0 0 #0000), var(--sbs-shadow)
}

@media (min-width: 768px) {
  .info-box6 {
    gap: 2rem;
    padding: 2.5rem
  }
}

.info-tag3 {
  margin-top: 0.25rem;
  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  --sbs-text-opacity: 1;
  color: rgb(13 130 255 / var(--sbs-text-opacity, 1))
}

@media (min-width: 768px) {
  .info-tag3 {
    font-size: 44px
  }
}

.info-tit2 {
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.025em;
  --sbs-text-opacity: 1;
  color: rgb(17 24 39 / var(--sbs-text-opacity, 1))
}

@media (min-width: 768px) {
  .info-tit2 {
    font-size: 24px
  }
}

.info-txt {
  word-break: keep-all;
  font-size: 15px;
  line-height: 1.7;
  --sbs-text-opacity: 1;
  color: rgb(107 114 128 / var(--sbs-text-opacity, 1))
}

@media (min-width: 768px) {
  .info-txt {
    font-size: 16px
  }
}

.info-box7 {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 32px;
  border-width: 1px;
  --sbs-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--sbs-border-opacity, 1));
  --sbs-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--sbs-bg-opacity, 1));
  padding: 2rem;
  --sbs-shadow: 0 4px 20px rgba(0,0,0,0.02);
  --sbs-shadow-colored: 0 4px 20px var(--sbs-shadow-color);
  box-shadow: var(--sbs-ring-offset-shadow, 0 0 #0000), var(--sbs-ring-shadow, 0 0 #0000), var(--sbs-shadow);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
  transition-duration: 300ms
}

.info-box7:hover {
  --sbs-translate-y: -0.25rem;
  transform: translate(var(--sbs-translate-x), var(--sbs-translate-y)) rotate(var(--sbs-rotate)) skewX(var(--sbs-skew-x)) skewY(var(--sbs-skew-y)) scaleX(var(--sbs-scale-x)) scaleY(var(--sbs-scale-y));
  --sbs-shadow: 0 20px 50px rgba(13,130,255,0.06);
  --sbs-shadow-colored: 0 20px 50px var(--sbs-shadow-color);
  box-shadow: var(--sbs-ring-offset-shadow, 0 0 #0000), var(--sbs-ring-shadow, 0 0 #0000), var(--sbs-shadow)
}

@media (min-width: 768px) {
  .info-box7 {
    gap: 2rem;
    padding: 2.5rem
  }
}

.info-box8 {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 32px;
  border-width: 1px;
  --sbs-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--sbs-border-opacity, 1));
  --sbs-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--sbs-bg-opacity, 1));
  padding: 2rem;
  --sbs-shadow: 0 4px 20px rgba(0,0,0,0.02);
  --sbs-shadow-colored: 0 4px 20px var(--sbs-shadow-color);
  box-shadow: var(--sbs-ring-offset-shadow, 0 0 #0000), var(--sbs-ring-shadow, 0 0 #0000), var(--sbs-shadow);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 150ms;
  transition-duration: 300ms
}

.info-box8:hover {
  --sbs-translate-y: -0.25rem;
  transform: translate(var(--sbs-translate-x), var(--sbs-translate-y)) rotate(var(--sbs-rotate)) skewX(var(--sbs-skew-x)) skewY(var(--sbs-skew-y)) scaleX(var(--sbs-scale-x)) scaleY(var(--sbs-scale-y));
  --sbs-shadow: 0 20px 50px rgba(13,130,255,0.06);
  --sbs-shadow-colored: 0 20px 50px var(--sbs-shadow-color);
  box-shadow: var(--sbs-ring-offset-shadow, 0 0 #0000), var(--sbs-ring-shadow, 0 0 #0000), var(--sbs-shadow)
}

@media (min-width: 768px) {
  .info-box8 {
    gap: 2rem;
    padding: 2.5rem
  }
}

.info-box9 {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 32px;
  border-width: 1px;
  --sbs-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--sbs-border-opacity, 1));
  --sbs-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--sbs-bg-opacity, 1));
  padding: 2rem;
  --sbs-shadow: 0 4px 20px rgba(0,0,0,0.02);
  --sbs-shadow-colored: 0 4px 20px var(--sbs-shadow-color);
  box-shadow: var(--sbs-ring-offset-shadow, 0 0 #0000), var(--sbs-ring-shadow, 0 0 #0000), var(--sbs-shadow);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 200ms;
  transition-duration: 300ms
}

.info-box9:hover {
  --sbs-translate-y: -0.25rem;
  transform: translate(var(--sbs-translate-x), var(--sbs-translate-y)) rotate(var(--sbs-rotate)) skewX(var(--sbs-skew-x)) skewY(var(--sbs-skew-y)) scaleX(var(--sbs-scale-x)) scaleY(var(--sbs-scale-y));
  --sbs-shadow: 0 20px 50px rgba(13,130,255,0.06);
  --sbs-shadow-colored: 0 20px 50px var(--sbs-shadow-color);
  box-shadow: var(--sbs-ring-offset-shadow, 0 0 #0000), var(--sbs-ring-shadow, 0 0 #0000), var(--sbs-shadow)
}

@media (min-width: 768px) {
  .info-box9 {
    gap: 2rem;
    padding: 2.5rem
  }
}

.info-box10 {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 32px;
  border-width: 1px;
  --sbs-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--sbs-border-opacity, 1));
  --sbs-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--sbs-bg-opacity, 1));
  padding: 2rem;
  --sbs-shadow: 0 4px 20px rgba(0,0,0,0.02);
  --sbs-shadow-colored: 0 4px 20px var(--sbs-shadow-color);
  box-shadow: var(--sbs-ring-offset-shadow, 0 0 #0000), var(--sbs-ring-shadow, 0 0 #0000), var(--sbs-shadow);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 250ms;
  transition-duration: 300ms
}

.info-box10:hover {
  --sbs-translate-y: -0.25rem;
  transform: translate(var(--sbs-translate-x), var(--sbs-translate-y)) rotate(var(--sbs-rotate)) skewX(var(--sbs-skew-x)) skewY(var(--sbs-skew-y)) scaleX(var(--sbs-scale-x)) scaleY(var(--sbs-scale-y));
  --sbs-shadow: 0 20px 50px rgba(13,130,255,0.06);
  --sbs-shadow-colored: 0 20px 50px var(--sbs-shadow-color);
  box-shadow: var(--sbs-ring-offset-shadow, 0 0 #0000), var(--sbs-ring-shadow, 0 0 #0000), var(--sbs-shadow)
}

@media (min-width: 768px) {
  .info-box10 {
    gap: 2rem;
    padding: 2.5rem
  }
}
