.float-box {
  pointer-events: none;
  position: fixed;
  bottom: 2.5rem;
  left: 0px;
  z-index: 40;
  display: flex;
  width: 100%;
  --sbs-translate-y: 6rem;
  transform: translate(var(--sbs-translate-x), var(--sbs-translate-y)) rotate(var(--sbs-rotate)) skewX(var(--sbs-skew-x)) skewY(var(--sbs-skew-y)) scaleX(var(--sbs-scale-x)) scaleY(var(--sbs-scale-y));
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms
}

.float-box2 {
  pointer-events: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 9999px;
  border-width: 1px;
  --sbs-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--sbs-border-opacity, 1));
  background-color: rgb(255 255 255 / 0.9);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  --sbs-shadow: 0 20px 50px rgba(0,0,0,0.08);
  --sbs-shadow-colored: 0 20px 50px var(--sbs-shadow-color);
  box-shadow: var(--sbs-ring-offset-shadow, 0 0 #0000), var(--sbs-ring-shadow, 0 0 #0000), var(--sbs-shadow);
  --sbs-backdrop-blur: blur(24px);
  -webkit-backdrop-filter: var(--sbs-backdrop-blur) var(--sbs-backdrop-brightness) var(--sbs-backdrop-contrast) var(--sbs-backdrop-grayscale) var(--sbs-backdrop-hue-rotate) var(--sbs-backdrop-invert) var(--sbs-backdrop-opacity) var(--sbs-backdrop-saturate) var(--sbs-backdrop-sepia);
  backdrop-filter: var(--sbs-backdrop-blur) var(--sbs-backdrop-brightness) var(--sbs-backdrop-contrast) var(--sbs-backdrop-grayscale) var(--sbs-backdrop-hue-rotate) var(--sbs-backdrop-invert) var(--sbs-backdrop-opacity) var(--sbs-backdrop-saturate) var(--sbs-backdrop-sepia)
}

.float-box3 {
  display: flex;
  align-items: center
}

.float-tag {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: -0.025em;
  --sbs-text-opacity: 1;
  color: rgb(17 24 39 / var(--sbs-text-opacity, 1))
}

.float-btn {
  white-space: nowrap;
  border-radius: 9999px;
  --sbs-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--sbs-bg-opacity, 1));
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.025em;
  --sbs-text-opacity: 1;
  color: rgb(255 255 255 / var(--sbs-text-opacity, 1));
  --sbs-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --sbs-shadow-colored: 0 4px 6px -1px var(--sbs-shadow-color), 0 2px 4px -2px var(--sbs-shadow-color);
  box-shadow: var(--sbs-ring-offset-shadow, 0 0 #0000), var(--sbs-ring-shadow, 0 0 #0000), var(--sbs-shadow);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.float-btn:hover {
  --sbs-bg-opacity: 1;
  background-color: rgb(13 130 255 / var(--sbs-bg-opacity, 1))
}
