.menu-box {
  position: fixed;
  inset: 0px;
  z-index: 200;
  display: none;
  flex-direction: column
}

.menu-box2 {
  position: absolute;
  inset: 0px;
  background-color: rgb(255 255 255 / 0.95);
  opacity: 0;
  --sbs-backdrop-blur: blur(24px);
  -webkit-backdrop-filter: var(--sbs-backdrop-blur) var(--sbs-backdrop-brightness) var(--sbs-backdrop-contrast) var(--sbs-backdrop-grayscale) var(--sbs-backdrop-hue-rotate) var(--sbs-backdrop-invert) var(--sbs-backdrop-opacity) var(--sbs-backdrop-saturate) var(--sbs-backdrop-sepia);
  backdrop-filter: var(--sbs-backdrop-blur) var(--sbs-backdrop-brightness) var(--sbs-backdrop-contrast) var(--sbs-backdrop-grayscale) var(--sbs-backdrop-hue-rotate) var(--sbs-backdrop-invert) var(--sbs-backdrop-opacity) var(--sbs-backdrop-saturate) var(--sbs-backdrop-sepia);
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms
}

.menu-box3 {
  position: relative;
  z-index: 10;
  display: flex;
  height: 80px;
  --sbs-translate-y: -100%;
  transform: translate(var(--sbs-translate-x), var(--sbs-translate-y)) rotate(var(--sbs-rotate)) skewX(var(--sbs-skew-x)) skewY(var(--sbs-skew-y)) scaleX(var(--sbs-scale-x)) scaleY(var(--sbs-scale-y));
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-color: rgb(243 244 246 / 0.5);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms
}

@media (min-width: 1024px) {
  .menu-box3 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }
}

.menu-box4 {
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center
}

.menu-img {
  height: auto;
  width: 160px
}

.menu-btn {
  padding: 0.5rem;
  --sbs-text-opacity: 1;
  color: rgb(17 24 39 / var(--sbs-text-opacity, 1));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.menu-btn:hover {
  --sbs-text-opacity: 1;
  color: rgb(13 130 255 / var(--sbs-text-opacity, 1))
}

.menu-ico {
  height: 2rem;
  width: 2rem
}

.menu-box5 {
  position: relative;
  z-index: 10;
  display: flex;
  flex: 1 1 0%;
  --sbs-translate-y: 2.5rem;
  transform: translate(var(--sbs-translate-x), var(--sbs-translate-y)) rotate(var(--sbs-rotate)) skewX(var(--sbs-skew-x)) skewY(var(--sbs-skew-y)) scaleX(var(--sbs-scale-x)) scaleY(var(--sbs-scale-y));
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms
}

@media (min-width: 1024px) {
  .menu-box5 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }
}

.menu-nav {
  display: grid;
  width: 100%;
  max-width: 64rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2.5rem;
  text-align: center
}

@media (min-width: 768px) {
  .menu-nav {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 4rem;
    text-align: left
  }
}

.menu-box6 > :not([hidden]) ~ :not([hidden]) {
  --sbs-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--sbs-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--sbs-space-y-reverse))
}

.menu-tit {
  margin-bottom: 2rem;
  border-bottom-width: 1px;
  --sbs-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--sbs-border-opacity, 1));
  padding-bottom: 1rem;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  --sbs-text-opacity: 1;
  color: rgb(13 130 255 / var(--sbs-text-opacity, 1))
}

.menu-lnk {
  margin-bottom: 1.5rem;
  display: block;
  font-size: 28px;
  font-weight: 700;
  --sbs-text-opacity: 1;
  color: rgb(17 24 39 / var(--sbs-text-opacity, 1));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.menu-lnk:hover {
  --sbs-text-opacity: 1;
  color: rgb(13 130 255 / var(--sbs-text-opacity, 1))
}

.menu-lnk2 {
  display: block;
  font-size: 28px;
  font-weight: 700;
  --sbs-text-opacity: 1;
  color: rgb(17 24 39 / var(--sbs-text-opacity, 1));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.menu-lnk2:hover {
  --sbs-text-opacity: 1;
  color: rgb(13 130 255 / var(--sbs-text-opacity, 1))
}
